header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  // opacity:0.5;
  background-color: black;
  z-index: 100;
  &.scrolled {
    opacity: 1;
  }
  a {
    color: white;
  }
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10%;
}
.links-container {
  display: flex;
  font-size: 1.2em;
  height: 100%;
  align-items: stretch;
  a {
    margin: auto;
    padding: 0.5em;
    border-bottom: 4px transparent solid;
    &.active {
      font-weight: bold;
      background-color: white;
      color: black;
      // border-color: white;
      transition: 0.5s all ease-in-out;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.resume-link {
  margin: auto auto auto 40px;
  padding: 0.5em;
  font-size: 1em;
  color: white;
  border: 1px white solid;
  border-radius: 4px;
}
.media-links {
  color: white;
  align-items: stretch;
  display: flex;
  height: 100%;
}
.header-media-link {
  margin: 8px;
  font-size: 32px;
}
