section {
  min-height: 100vh;
  &.section-container {
    background-color: rgba(1, 1, 1, 0.5);
  }

  h3 {
    font-size: 2.5rem;
    color: var(--nurture-lime-green);
  }
  h4 {
    font-size: 1.5rem;
    margin: 0px;
  }
  .section-body {
    width: 100%;
    height: 100%;
  }
  .devicon-link {
    margin: 1em 0.5em 0.5em 0;
  }
  .devicon-link svg {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }

  .next-section-button {
    align-self: center;
    justify-self: flex-end;
    margin: 1em;
  }

  .dynamic {
    opacity: 0;
  }

  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
  }
  .icons-container .devicon-link {
    opacity: 0;
  }

  .d-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);

    column-gap: 15px;
    row-gap: 15px;
  }

  @media screen and (min-width: 600px) {
    .d-grid {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
  }
}
